.card {
    position: relative;
    width: 150px;
    height: 200px;
}

.card__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.3s linear;
    transform: perspective(600px) rotateY(0deg);
}

.card__cover img {
    width: 100%;
    height: 100%;
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.3s linear;
    transform: perspective(600px) rotateY(180deg);
    background-color: #f1f1f1;
}

.card__content img {
    width: 100%;
    height: 100%;
}

.card.flipped > .card__cover {
    transform: perspective(600px) rotateY(-180deg);
}
.card.flipped > .card__content {
    transform: perspective(600px) rotateY(0deg);
}
