.game-entry {
    width: 100%;
    max-width: 700px;
    padding: 72px 105px 22px 105px;
    border-radius: 30px;
    border: 10px solid #dedede;
    background: #fff;
}

.game-entry__content {
}

.game-entry__title {
    color: #e47c98;
    font-family: IBM Plex Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-bottom: 30px;
}

.game-entry__descr {
    font-family: "IBM Plex Sans", sans-serif;
    color: #000;
    text-align: left;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.game-entry__setting {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.game-entry__setting-subtitle {
    display: block;
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.game-entry__setting-set-user {
    width: 100%;
    margin-bottom: 20px;
}

.game-entry__setting-input {
    max-width: 320px;
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #f4d4cb;
    background: #fff;
}

.game-entry__setting-set-game {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.game-entry__setting-set-game-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px 16px;
}

.game-entry__setting-set-game-item:not(:last-child) {
    margin-bottom: 20px;
}

.game-entry__setting-set-game-item .game-entry__setting-subtitle {
    width: 100%;
}

.game-entry__setting-label-btn {
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid #DEDEDE;
    background: #fff;
}

.game-entry__setting-label-btn.active {
    border: 3px solid #e47c98;
}

.game-entry__setting-input-btn {
    display: none;
}

.game-entry__btn {
    width: 100%;
    max-width: 350px;
    display: block;
    color: #fff;
    font-family: IBM Plex Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    background: #e47c98;
    text-align: center;
    text-decoration: none;
    opacity: 0.4;
    pointer-events: none;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 25px;
}

.game-entry__btn.active {
    opacity: 1;
    pointer-events: auto;
}

.game-entry__footer {
    display: flex;
    align-items: center;
}

.game-entry__footer-link {
    color: #e47c98;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.game-entry__footer-link:not(:last-child) {
    margin-right: 15px;
}
