.matched-card-modal {
    max-width: 800px;
    padding: 46px 44px;
    border-radius: 20px;
    border: 10px solid #e47c98;
    background: #fff;
}

.matched-card-modal__title {
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.matched-card-modal__body {
    display: flex;
    align-items: flex-start;
}

.matched-card-modal__descr {
    flex: 1 1 auto;
}

.matched-card-modal__text {
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.matched-card-modal__list-item {
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.matched-card-modal__list-item:not(:last-child) {
    margin-bottom: 5px;
}

.matched-card-modal__link {
    color: #e47c98;
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.matched-card-modal__item-img {
    flex: 0 0 140px;
    position: relative;
    width: 140px;
    height: 140px;
    margin-left: 20px;
    overflow: hidden;
    margin-top: -64px;
}

.matched-card-modal__text-img {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.matched-card-modal__btn {
    display: block;
    width: 100%;
    max-width: 240px;
    margin-top: 52px;
    color: #fff;
    font-family: IBM Plex Sans;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    line-height: normal;
    border-radius: 10px;
    background: #e47c98;
    margin-left: auto;
}
