.game {
    width: 100%;
    height: 100%;
    background-color: #f7f4f2;
}

.game__container {
    height: 100%;
    max-width: 1252px;
    padding: 0 20px;
    margin: 0 auto;
}

.game__content {
    height: 100%;
}
