.game-entry-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/img/bg.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.game-entry-page__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
}

.game-entry-page__content {
}
